.container {
  display: flex!important;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;

  .form {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    margin-top: 10px;

    button {
      align-self: center;
    }
  }
}
